<div class="min-h-screen flex flex-col md:flex-row">

  <div class="flex-1 flex items-center justify-center p-8 bg-techfix-bg">
    <div class="w-full max-w-md">


      <img src="/logo3.jpg" alt="TechFix Logo" class="mx-auto">


      <h2 class="text-4xl font-bold mb-6 text-primary">Iniciar sesión</h2>

      <app-login></app-login>


    </div>
  </div>

  <div class="hidden md:flex w-3/5 bg-cover bg-center" style="background-image: url('hero.jpg');">
    <div class="bg-black bg-opacity-30 w-full h-full"></div>
  </div>
</div>