<div class="card">
  <h2 style="font-weight: bold; font-size:28px; margin-bottom:15px; text-align:center;">
    Cambiar contraseña
  </h2>

  <form>
    <div style="margin-bottom: 20px;">
      <label style="display: block; color: #666; font-size: 14px; margin-bottom: 8px;">
        Nueva contraseña
      </label>
      <input 
        type="password" 
        class="input input-bordered w-full"
        required
      />
    </div>

    <div style="margin-bottom: 20px;">
      <label style="display: block; color: #666; font-size: 14px; margin-bottom: 8px;">
        Confirma la contraseña
      </label>
      <input 
        type="password" 
        class="input input-bordered w-full"
        required
      />
    </div>

    <button 
      type="button"
      class="btn bg-techfix-orange text-white w-full mt-2"
    >
      Cambiar contraseña
    </button>
  </form>
</div>