<div class="card">
  <h2 class="text-3xl font-bold text-techfix-blue mb-4">
    Cambiar contraseña
  </h2>

  <form>
    <div class="mb-4">
      <span class="block text-gray-700 text-sm font-bold mb-2">
        Nueva contraseña
      </span>
      <input type="password" class="input input-bordered w-full" required />
    </div>

    <div class="mb-4">
      <span class="block text-gray-700 text-sm font-bold mb-2">
        Confirma la contraseña
      </span>
      <input type="password" class="input input-bordered w-full" required />
    </div>

    <button type="button" class="btn bg-techfix-orange text-white w-full mt-2">
      Cambiar contraseña
    </button>
  </form>
</div>