<form [formGroup]="form" (ngSubmit)="resetPassword()" class="space-y-4">

  <h2 class="text-2xl font-bold text-techfix-blue">
    Bienvenido !
  </h2>

  <div>
    <input formControlName="password" type="password" placeholder="Nueva Contraseña"
      class="input input-bordered w-full" />

    <div class="transition-all duration-500 ease-in-out overflow-hidden" [ngClass]="{
        'max-h-0 opacity-0': !passwordStrength, 
        'max-h-24 opacity-100 mt-2': passwordStrength
      }">
      <div class="h-2 w-full bg-gray-200 rounded-full overflow-hidden">
        <div class="h-full transition-all duration-500 ease-out" [class]="strengthColor + ' ' + strengthWidth">
        </div>
      </div>

      <p class="text-xs mt-1 text-right font-medium text-gray-600">
        <span [class]="strengthColor.replace('bg-', 'text-') + ' font-bold uppercase'">
          {{ passwordStrength }}
        </span>
      </p>

    </div>
  </div>

  <div>
    <input formControlName="confirmPassword" type="password" placeholder="Repita la contraseña"
      class="input input-bordered w-full" />

    <div class="transition-all duration-300 ease-in-out overflow-hidden"
      [ngClass]="{'max-h-0 opacity-0': !form.hasError('mismatch') || !form.get('confirmPassword')?.touched, 'max-h-10 opacity-100': form.hasError('mismatch') && form.get('confirmPassword')?.touched}">
      <span class="text-red-500 text-sm mt-1 block">
        Las contraseñas no coinciden
      </span>
    </div>
  </div>

  <button type="submit" class="btn bg-techfix-orange text-white w-full mt-2">
    Cambiar contraseña
  </button>

</form>