
<div class="overlay">

 
  <div [ngClass]="{'page-enter': isEntering, 'page-leave': isLeaving}" class="login-modal">

    <h2>Iniciar sesión</h2>

    <form [formGroup]="form" (ngSubmit)="loginTest()">

      <input formControlName="username" type="text" placeholder="Usuario" required>

      <input formControlName="password" type="password" placeholder="Contraseña" required>

      <div class="options">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>

      <button type="submit" class="login-btn">Ingresar</button>

      <p class="signup-text">¿No tienes una cuenta?
        <a routerLink="/auth/register">Regístrate</a>
      </p>

    </form>

  </div>

</div>

