<form [formGroup]="form" (ngSubmit)="sendRecoveryEmail()" class="space-y-4">

  <div class="flex items-center justify-between mb-4">
    <h2 class="text-3xl font-bold text-techfix-blue">
      Recupera tu contraseña
    </h2>

    <button type="button" onclick="history.back()" class="text-techfix-orange transition-all duration-200
         hover:scale-105 active:scale-95">
      <i class="fa-solid fa-arrow-left text-2xl"></i>
    </button>
  </div>

  <h2 style="font-weight: bold; font-size:28px; margin-bottom:15px; text-align:center;">
    Recuperar contraseña
  </h2>

  <p>Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>


  <div class="form-control w-full">
    <input 
      formControlName="email" 
      type="email" 
      placeholder="email" 
      class="input input-bordered w-full"
      [class.input-error]="emailInvalid"
    >
    
  
    <label class="label" *ngIf="emailInvalid">
      <span class="label-text-alt text-error">
        {{ emailErrorMessage }}
      </span>
    </label>
  </div>

 
  <button 
    type="submit"
    class="btn bg-techfix-orange text-white w-full mt-2 hover:bg-opacity-90"
    [disabled]="form.invalid"
    [class.btn-disabled]="form.invalid"
  >
    Enviar
  </button>

</form>