<form [formGroup]="form" (ngSubmit)="sendRecoveryEmail()" class="space-y-4">



  <p>Recupera tu contraseña</p>

  <p>Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

  <input formControlName="email" type="text" placeholder="email" class="input input-bordered w-full" required>


  <button type="button"(click)="sendRecoveryEmail()" class="btn bg-techfix-orange text-white w-full mt-2 ">Enviar</button>


  <button type="button"(click)="goBack()" class=" fixed bottom-4 left-4
    text-sm px-4 py-2
    bg-techfix-orange text-white rounded-md
    transition-all duration-200
    hover:scale-105 active:scale-95
  ">Volver</button>

</form>