<dialog #modalRef class="modal">
  <div class="modal-box w-11/12 max-w-3xl">

    <div class="border-b pb-2 mb-4">
      <h3 class="font-bold text-xl text-gray-800">
        Registrar Nuevo Usuario
      </h3>
      <p class="text-xs text-gray-500">Completa la información del cliente</p>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="save()">

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div class="form-control w-full">
          <label class="label"><span class="label-text font-medium">Nombre</span></label>
          <input type="text" formControlName="name" placeholder="Ej. Juan" class="input input-bordered w-full" />
        </div>

        <div class="form-control w-full">
          <label class="label"><span class="label-text font-medium">Apellido</span></label>
          <input type="text" formControlName="last_name" placeholder="Ej. Pérez" class="input input-bordered w-full" />
        </div>

        <div class="form-control w-full">
          <label class="label"><span class="label-text font-medium">Email</span></label>
          <input type="email" formControlName="email" placeholder="juan@correo.com"
            class="input input-bordered w-full" />
        </div>

        <div class="form-control w-full">
          <label class="label"><span class="label-text font-medium">Teléfono</span></label>
          <input type="number" formControlName="phone" placeholder="099..." class="input input-bordered w-full" />
        </div>

        <div class="form-control w-full">
          <label class="label"><span class="label-text font-medium">Rol de Usuario</span></label>
          <select class="select select-bordered w-full" formControlName="role">
            <option disabled selected value="">Seleccione un rol</option>
            <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.label }}</option>
          </select>
        </div>

        <div class="form-control w-full">
          <label class="label"><span class="label-text font-medium">Fecha de Nacimiento</span></label>
          <input type="date" formControlName="birth_date" class="input input-bordered w-full" />
        </div>

        <div class="form-control w-full md:col-span-2">
          <label class="label"><span class="label-text font-medium">Dirección Domicilio</span></label>
          <input type="text" formControlName="address" placeholder="Av. Principal 123 y Calle 5"
            class="input input-bordered w-full" />
        </div>

      </div>
      <div class="modal-action mt-6 border-t pt-4">
        <button type="button" class="btn btn-ghost" (click)="close()">Cancelar</button>

        <button type="submit" class="btn btn-primary px-8" [disabled]="userForm.invalid">
          <i class="fa-solid fa-save mr-2"></i> Guardar Cliente
        </button>
      </div>

    </form>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button (click)="close()">close</button>
  </form>
</dialog>