body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
    font-family: "Segoe UI", sans-serif;
}

.center-box {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    border: 3px solid #4f46e5;
}

.center-box h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #4f46e5;
}